.hidden {
    display: none;
}

body {
    height: 500px;
    background-image: url('background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #26301d;


    color: white;
    font-family: arial, sans-serif;
    text-shadow: 2px 2px 4px black;

   }

a {
    color: #ffcccc;
}

#container {
    width: 300px;

    margin: 100px auto;
}

ul {
    list-style-type: none;
}